/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0 50px 0 50px;
  width: 100%;
  box-sizing: border-box;
}
main {
  display: block;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
h3 {
  font-size: 18px;
}
h2 {
  font-size: 22px;
}
img {
  object-fit: cover;
}

/*****Menu de navigation supérieur******/

.header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header__logo {
  width: 61px;
  height: 19px;
  padding: 30px 0 30px 0;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__menu {
  list-style: none;
  display: flex;
  padding: 0 50px 0 50px;
  gap: 68px;
}

.header__menu-item {
  font-size: 16px;
}

.header__menu-item:hover {
  color: #0065fc;
  border-top: solid 2px #0065fc;
  cursor: default;
}
.header__menu-item:active {
  color: #0065fc;
  border-top: solid 2px #0065fc;
  border-bottom: none;
}

/*******Barre de recherche*******/
.main__search {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.main__search-headline {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main__title {
  font-size: 22px;
  margin: 0;
}

.main__subtitle {
  font-size: 16px;
}
.main__search-inputs {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.main__searchbar {
  display: flex;
}
.main__localisation-icon {
  display: flex;
  width: 50px;
  background: #f2f2f2;
  border: solid 1px #f2f2f2;
  border-radius: 15px 0 0 15px;
  color: #000000;
  justify-content: center;
  align-items: center;
}

.main__localisation-input {
  border: 1px solid #f2f2f2;
  font-size: 18px;
  color: black;
  font-weight: bold;
  text-align: center;
}
.main__localisation-btn {
  padding: 15px 16px 15px 16px;
  background: #0065fc;
  color: white;
  border-radius: 0 15px 15px 0;
  font-size: 18px;
  border: 1px solid #0065fc;
  align-items: center;
}
.main__localisation-btn-icon {
  display: none;
}

i.fa-solid.fa-info.search__infos-icon {
  border: solid 1px #d9d9d9;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*****Filtres*****/
.main__search-filters {
  display: flex;
  gap: 15px;
  align-items: stretch;
}

.search__filters-subtitle {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.search__filters-list {
  width: 100%;
  display: flex;

  gap: 15px;
  padding: 0;
}

.search__filters-choices {
  display: inline-flex;
  gap: 10px;
  padding: 14px 19px 14px 19px;
  border: 2px #d9d9d9 solid;
  border-radius: 25px;
  font-size: 17px;
  text-align: center;
  justify-content: center;
  align-items: center;

  font-weight: bold;
}
.search__filters-choices span {
  white-space: nowrap;
}
.search__filters-choices:hover {
  background: #deebff;
  cursor: default;
}

/*****Infos********/
.search__infos {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.search__infos-icon {
  width: 24px;
  height: 24px;
}

.section-title {
  margin: 0;
  font-size: 22px;
}
/****** Hebergements et Populaires ***********/
.main__hebergements-and-populaires {
  display: flex;
  gap: 40px;
}

.main__hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  box-sizing: border-box;
}

/*****Section Hebergements******/
#main__hebergements {
  width: 65%;
  padding: 30px;
}
.main__hebergement-title {
  margin-top: 0;
}
.main__hebergements-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: auto;
  background-color: var(--main-bg-color);
}
.hebergements__cards {
  border: white solid 5px;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.hebergements__cards-photo {
  width: 100%;
  height: 124px;
  border-radius: 20px 20px 0 0;
}
.card__content {
  padding-left: 15px;
}
.hebergements .card__content {
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
}
.hebergements p.card__subtitle {
  font-size: 14px;
  margin: 0;
}

/*****Section Populaires******/
.main__populaires {
  width: 32%;
  padding: 30px;
}
.populaires__title {
  display: flex;
  justify-content: space-between;
}
.populaires__title-h2 {
  margin-top: 0;
}

.populaires__cards .card {
  display: flex;
  margin-top: 33px;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.euro {
  font-weight: 700;
}

.populaires__cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires__cards .card__content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires__cards .card__title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires__cards .card__subtitle {
  margin: 0;
}

.populaires__cards .card__rating {
  margin-bottom: 5px;
}
.neutral-star {
  color: var(--main-bg-color);
}

/***** Section Activités *****/
#main__activites {
  padding: 30px;
}

#main__activites > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

#main__activites .card {
  display: flex;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px #0000001a;
  flex-wrap: wrap;
  flex-direction: column;
}

#main__activites img {
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0 0;
}
.activites__card-title {
  padding: 20px 19px 20px 19px;
  margin: 0;
}
/*****Footer*****/
section.footer__nav {
  background: #f2f2f2;
  display: flex;
  padding: 20px;
  gap: 15px;
  width: 100%;
  height: 163px;
}

.footer__nav-list h4 {
  font-size: 18px;
  margin: 0;
}
.footer__nav-list {
  display: flex;
  width: 100%;
  height: 163px;
  flex-direction: column;
}
.footer__nav-list ul {
  padding: 0;
}
.footer__nav-list li {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    width: 100%;
  }
  h3 {
    font-size: 16px;
  }

  .header__menu-item:active {
    border-top: solid 2px #0065fc;
    border-bottom: none;
    color: #0065fc;
  }

  .main__search-filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .main__hebergements-and-populaires {
    flex-direction: column;
  }

  #main__hebergements {
    width: 100%;
  }

  .main__populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires__cards a {
    width: 30%;
  }

  .populaires__cards .card__title {
    font-size: 14px;
  }

  .populaires__cards .card__subtitle {
    font-size: 13px;
  }

  #main__activites img {
    width: 100%;
    height: 200px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
  body {
    padding: 0 20px;
    margin: 0;
    width: 100%;
    max-width: 100%;
    align-items: stretch;
  }

  main {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  i.fa-solid.fa-magnifying-glass {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
  }

  .header__nav {
    align-items: center;
    flex-direction: column;
  }
  .header__logo {
    object-fit: contain;
    padding: 30px 0 30px 0;
  }
  .header__menu {
    width: 100%;
    display: flex;
    gap: 15px;
    padding: 0;
    justify-content: space-evenly;
  }
  .header__menu a {
    flex: 1;

  }

  .header__menu-item {
    font-weight: 400;
    flex: 1;
    text-align: center;

  }

  .header__menu-item:hover {
    padding-bottom: 15px;
    border-bottom: solid 2px #0065fc;
    border-top: none;
  }

  .header__menu-item:active {
    padding-bottom: 15px;
    border-bottom: solid 2px #0065fc;
    border-top: none;
  }

  .main__localisation-btn {
    display: none;
  }

  .main__localisation-btn-icon {
    display: flex;
    background: #0065fc;
    color: white;
    border: 1px solid #0065fc;
    border-radius: 15px;
    padding: 15px 16px 15px 16px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  .main__search-filters {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .search__filters-list {
    display: grid;
    gap: 15px;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
  }
  .search__filters-subtitle {
    font-weight: bold;
    margin-bottom: 0;
  }
  p.search__filters-subtitle {
    font-size: 18px;
  }

  .main__hebergements-and-populaires {
    flex-direction: column-reverse;
  }
  #main__hebergements {
    width: 100%;
    padding: 30px;
  }
  .main__hebergements-articles {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .main__populaires {
    width: 100%;
    padding: 30px;
  }
  a .populaires__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  .populaires__cards .card__content {
    width: 100%;
    padding: 10px 5px 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  #main__activites > div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  section.footer__nav {
    background: #f2f2f2;
    padding: 20px;
    gap: 15px;
    width: 100%;
    height: 461px;
  }
  .footer__nav {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .footer__nav-list {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}
