/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  padding: 0 50px 0 50px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.main__container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}

/*****Menu de navigation supérieur******/

.header {
  display: flex;
  box-sizing: border-box;
  width: 1440px;
  height: 79px;
}

.header__logo {
  display: flex;
  width: 61px;
  height: 19px;
  padding: 30px 0 30px 0;
  gap: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__menu {
  list-style: none;
  display: flex;
  padding: 0 50px 0 50px;
  gap: 68px;
}

.header__menu-item {
  font-size: 16px;
}

.header__menu-item:hover {
  color: #0065fc;
  border-top: solid 2px #0065fc;
  cursor: default;
}

/**Section supérieure**/
.main__search {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.main__search-headline {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main__title {
  font-size: 22px;
  margin: 0;
}

.main_subtitle {
  font-size: 16px;
}
.main__search-inputs {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.main__searchbar {
  display: flex;
}
.main__localisation-icon {
  display: flex;
  width: 50px;
  background: #f2f2f2;
  border: solid 1px #f2f2f2;
  border-radius: 15px 0 0 15px;
  color: #000000;
  justify-content: center;
  align-items: center;
}

.main__localisation-input {
  border: 1px solid #f2f2f2;
  font-size: 18px;
  color: black;
  font-weight: bold;
  text-align: center;
}
.main__localisation-btn {
  padding: 15px 16px 15px 16px;
  background: #0065fc;
  color: white;
  border-radius: 0 15px 15px 0;
  font-size: 18px;
  border: 1px solid #0065fc;
  align-items: center;
}

/*****Filtres****/
.main__search-filters {
  display: flex;
  align-items: center;
  gap: 15px;
}
.search__filters-subtitle {
  font-weight: bold;
}

.search__filters-list {
  display: flex;
  gap: 15px;
  padding: 0;
}

.search__filters-choices {
  display: inline-flex;
  border: 2px #d9d9d9 solid;
  border-radius: 25px;
  padding: 4px 19px 4px 19px;
  font-size: 17px;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}
.search__filters-choices:hover {
  background: #deebff;
  cursor: default;
}

/*****Infos********/
.search__infos {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.search__infos-icon {
  width: 24px;
  height: 24px;
}

.section-title {
  margin: 0;
  font-size: 22px;
}
/****** Hebergements And Populaires ***********/
.main__hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

/*****Section Hebergements******/

.main__hebergements-articles {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: auto;
  background-color: var(--main-bg-color);
  border-radius: 20px;
}
.hebergements__cards {
  display: inline-flex;
  flex-wrap: wrap;
  border: white solid 5px;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  flex-direction: column;
}

.hebergements__cards-photo {
  width: 250px;
  height: 124px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.hebergements .card-content {
  padding: 0 15px 0 15px;
}
.hebergements p.card-subtitle {
  font-size: 14px;
}
.hebergements h3 {
  font-size: 18px;
}

/*****Section Populaires******/

.populaires .card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}
/****** Hebergements And Populaires ***********/
.main__hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.main__hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
}

/****** Hebergements ***********/
.hebergements {
  width: 75%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/***** Section Activités *****/
.main__activites {
  padding: 30px;
  gap: 30px;
}
.main__activites > div {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.main__activites .card {
  display: flex;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px #0000001a;
  flex-wrap: wrap;
  flex-direction: column;
}

.main__activites img {
  width: 297px;
  height: 380px;
  border-radius: 20px 20px 0 0;
}
h3.activites__card-title {
  padding: 20px 19px 20px 19px;
  font-size: 16px;
}
/*****Footer*****/
section.footer__nav {
  background: #f2f2f2;
  display: flex;
  padding: 20px;
  gap: 15px;
}
.footer__nav-list h4 {
  font-size: 18px;
  margin: 0;
}
.footer__nav-list {
  display: flex;
  width: 446px;
  height: 163px;
  flex-direction: column;
}
.footer__nav-list li {
  margin-bottom: 10px;
  font-size: 16px;
}
.footer__nav-list ul {
  list-style: none;
  padding: 0;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .main__hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
