/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  padding: 0 50px 0 50px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/**Menu de navigation supérieur**/
#logo {
  display: flex;
  justify-content: center;
  width: 61.09px;
  height: 19px;
  padding: 30px 0 30px 0;
}
nav {
  width: 1440px;
  height: 79px;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
}

#list_navigation_sup {
  display: flex;
  gap: 68px;
}

/**Section supérieure**/
#headline {
  gap: 8px;
}

h1 {
  font-size: 22px;
  margin: 0;
}

#p_header {
  font-size: 16px;
}
#searchbar {
  display: flex;
}
img#localisation {
  width: 14px;
  height: 18px;
  padding: 15px 18px 15px 18px;
  background: #f2f2f2;
  align-items: center;
  border: solid 1px #f2f2f2;
  border-radius: 15px 0 0 15px;
}
#input_localisation {
  border: 1px solid #f2f2f2;
  font-size: 18px;
  color: black;
  font-weight: bold;
  text-align: center;
}
button {
  background: #0065fc;
  color: white;
  border-radius: 0 15px 15px 0;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #0065fc;
}

/*****Filtres****/
div#filtres {
  display: flex;
  align-items: center;
  gap: 15px;
}
#p_filtres {
  font-weight: bold;
}

ul {
  gap: 10px;
}
li.filters_choices {
  display: inline-flex;
  border: 2px #d9d9d9 solid;
  border-radius: 25px 25px 25px 25px;
  padding: 4px 19px 4px 19px;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/*****Infos********/
div#infos {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
img#info_icon {
  width: 24px;
  height: 24px;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
